*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea
/target
*.iml

# outputfiles
*-output*.txt
/config
/var
/unrelated
.DS_Store
out-test/
out-test1/
python/.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/by/.DS_Store
test_data/.DS_Store
test_data/db2/.DS_Store
test_data/db6/.DS_Store
